<div id="my-slider" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#my-slider" data-slide-to="0" class="active"></li>
    <li data-target="#my-slider" data-slide-to="1"></li>
    <li data-target="#my-slider" data-slide-to="2"></li>
    <li data-target="#my-slider" data-slide-to="3"></li>
    <li data-target="#my-slider" data-slide-to="4"></li>
    <li data-target="#my-slider" data-slide-to="5"></li>
    <li data-target="#my-slider" data-slide-to="6"></li>
    <li data-target="#my-slider" data-slide-to="7"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag("welcome.jpg",width: "100%", alt: "First slide", class: "d-block w-100 img-fluid")  %>
    </div>
    <div class="carousel-item">
      <%= image_tag("welcome1.jpg",width: "100%", alt: "Second slide", class: "d-block w-100 img-fluid")  %>
    </div>
    <div class="carousel-item">
      <%= image_tag("welcome2.jpg",width: "100%", alt: "Third slide", class: "d-block w-100 img-fluid") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("welcome3.jpg",width: "100%", alt: "Fourth slide", class: "d-block w-100 img-fluid") %>
      <div class="carousel-caption">
        <h1>Welcome to Lezzet</h1>
        <p>Baking is our prof</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("welcome4.jpg",width: "100%", alt: "Fifth slide", class: "d-block w-100 img-fluid") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("welcome5.jpg",width: "100%", alt: "Six slide", class: "d-block w-100 img-fluid") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("welcome6.jpg",width: "100%", alt: "Seventh slide", class: "d-block w-100 img-fluid") %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#my-slider" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#my-slider" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>